body {
    color: darkred;
    background-color: #ffeebc;
}

#weatherdata {
    float: left;
    width: 33%;
}

#daily_data {
    margin-left: 3em;
    height: 150px;
}

#img_holder {
    float: left;
}

#aboutlink {
    position: fixed;
    bottom: 10px;
}