<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>About Mars Weather Rover Site</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
</head>
<body>
    <h1>Welcome to the Mars Weather Rover site!</h1>
<p><a href="{% url 'index' %}">This site</a> lets you explore weather data gathered by the Curiosity rover on Mars.
    The data was downloaded and stored
    to a database via the <a href="http://marsweather.ingenology.com/#get_started">Mars Atmospheric Aggregation System
    API</a>.  You can <a href="http://marsweather.ingenology.com/">learn more about the {MAAS} API project</a>, or you
    can <a href="https://en.wikipedia.org/wiki/Curiosity_(rover)">read about the Curiosity rover</a> on Wikipedia.</p>
<p>The rover image was lifted from NASA.  I believe it qualifies as a "government work" and is therefore not subject
    to copyright, but if not, let me know at the email link below so I can find a replacement image.</p>
<p>This site was built using Python and Django by <a href="mailto:anna.m.dudda@gmail.com">A.M. Dudda</a> for the
    Software Development Capstone course at <a href="http://minneapolis.edu">Minneapolis Community &amp; Technical
    College</a>. </p>

<div id="aboutlink">
    <a href="{% url 'index' %}">Back to main site.</a>
</div>
</body>
</html>