<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mars Weather Rover Home Page</title>
</head>
<body background="{% static 'images/sunny.jpeg' %}">
    <h1>"Hello, Mars explorers!  This will be a Mars weather explorer app!"</h1>
<div id="weatherdata">
    <h3>The weather for sol {{ weather.sol }} is:</h3>
        Low temp: {{ weather.min_temp }} ({{ weather.min_temp_fahrenheit }}F)<br/>
        High temp: {{ weather.max_temp }}C ({{ weather.max_temp_fahrenheit }}F)<br/>
        Wind speed: {{ weather.wind_speed }} kph<br/>
        {% if weather.atmo_opacity %}
            Skies are: {{ weather.atmo_opacity }}<br/>
        {% endif %}
        (date: {{ weather.terrestrial_date }})<br/>
    <h3>The next sol is {{ next_sol }}</h3>
    <h3>The previous sol is {{ prev_sol }}</h3>
</div>
</body>
</html>