<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mars Weather Rover Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
</head>
<body>
<div id="weatherdata">
    <h1>Hello, Mars explorers!  The weather for sol {{ weather.sol }} is:</h1>
        <div id="daily_data">
            {% if dne %}
                <!-- if no data available, notify the user. -->
                No data available for this sol.
            {% else %}
                Low temp: {{ weather.min_temp }}C ({{ weather.min_temp_fahrenheit }}F)<br/>
                High temp: {{ weather.max_temp }}C ({{ weather.max_temp_fahrenheit }}F)<br/>
                Wind speed:
                    {% if weather.wind_speed %}
                        {{ weather.wind_speed }} kph<br/>
                    {% else %}
                        n/a<br/>
                    {% endif %}
                {% if weather.pressure %}
                    Pressure: {{ weather.pressure }}
                    {% if weather.pressure_string %}
                        (getting {{weather.pressure_string}})
                    {% endif %}
                    <br/>
                {% endif %}
                {% if weather.atmo_opacity %}
                    Skies are: {{ weather.atmo_opacity }}<br/>
                {% endif %}
                <!-- not using these, meaning of dates is not clear:
                Sunrise/sunset: {{ weather.sunrise }} / {{ weather.sunset }}<br/>
                -->
                (date: {{ weather.terrestrial_date }})<br/>
            {% endif %}

            <!-- Where applicable, announce first/last available sol-->
            {% if not navdata.prev_sol %}
                <h3>This is the first available sol.</h3>
            {% endif %}
            {% if not navdata.next_sol %}
                <h3>This is the last available sol.</h3>
            {% endif %}
        </div>
    <!-- Link to the previous sol's data if available.-->
    <h3>
    {% if navdata.prev_sol %}
        <a href="{% url 'sol' navdata.prev_sol %}">&lt;&lt; Prev</a>
    {% else %}
        &lt;&lt; Prev
    {% endif %}
     --
    <!-- Link to the next sol's data if available.-->
    {% if navdata.next_sol %}
        <a href="{% url 'sol' navdata.next_sol %}">Next &gt;&gt;</a>
    {% else %}
        Next &gt;&gt;
    {% endif %}
    <br/>
    <br/>
    <!-- also provide first/last sol navigation-->
        <a href="{% url 'sol' navdata.first %}">&lt;&lt; First</a>
        --
        <a href="{% url 'sol' navdata.last %}">Last &gt;&gt;</a>
    </h3>
</div>
<div id="img_holder">
    <img src="{% static 'images/sunny.jpeg' %}" height="480px"/>
</div>

<div id="aboutlink">
    <a href="{% url 'about' %}">About this site.</a>
</div>
</body>
</html>