<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mars Weather Rover Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
</head>
<body>
<div id="weatherdata">
    <h1>Hello, Mars explorers!  The weather for sol {{ weather.sol }} is:</h1>
        <div id="daily_data">
            {% if dne %}
                <!-- if no data available, notify the user. -->
                No data available for this sol.
            {% else %}
                Low temp: {{ weather.min_temp }} ({{ weather.min_temp_fahrenheit }}F)<br/>
                High temp: {{ weather.max_temp }}C ({{ weather.max_temp_fahrenheit }}F)<br/>
                Wind speed:
                    {% if weather.wind_speed %}
                        {{ weather.wind_speed }} kph<br/>
                    {% else %}
                        n/a<br/>
                    {% endif %}
                {% if weather.atmo_opacity %}
                    Skies are: {{ weather.atmo_opacity }}<br/>
                {% endif %}
                (date: {{ weather.terrestrial_date }})<br/>
            {% endif %}

            <!-- Where applicable, announce first/last available sol-->
            {% if not prev_sol %}
                <h3>This is the first available sol.</h3>
            {% endif %}
            {% if not next_sol %}
                <h3>This is the last available sol.</h3>
            {% endif %}
        </div>
    <!-- Link to the previous sol's data if available.-->
    <h3>
    {% if prev_sol %}
        <a href="{{dirp}}{{prev_sol}}">&lt;&lt; Prev</a>
    {% else %}
        &lt;&lt; Prev
    {% endif %}
     --
    <!-- Link to the next sol's data if available.-->
    {% if next_sol %}
        <a href="{{dirp}}{{next_sol}}">Next &gt;&gt;</a>
    {% else %}
        Next &gt;&gt;
    {% endif %}
    </h3>
</div>
<div id="img_holder">
    <img src="{% static 'images/sunny.jpeg' %}" height="480px"/>
</div>

<div id="aboutlink">
    <a href="about">About this site.</a>
</div>
</body>
</html>