<HTML>
<HEAD>
	<TITLE>Mars Weather Data Graphs</TITLE>
	<STYLE TYPE="text/css">
	div { margin-left:3em; }
	</STYLE>
	{% load static %}
</HEAD>
<BODY>
	<H1>Mars Weather Data Graphs</H1>
	<P>Data is retrieved from the <A HREF="http://marsweather.ingenology.com/#get_started">{MAAS} API.</A></P>
	<H2>The latest weather report is:</H2>
	<DIV ID="current">
	
	</DIV>
	<H2>October 2012's weather is:</H2>
	<DIV ID="recent_past">
	</DIV>
	<!--This is not actually fetching data.  Haz a sad. -->
	<SCRIPT TYPE="text/javascript" SRC="{% static 'MWdatabase/javascript/fetchWeatherData.js' %}"></SCRIPT>

<!-- let's try reading our sample data instead-->
<h3> some sample data lifted from MAAS: </h3>
	<DIV ID="sample">Yoo hoo!</DIV>
<SCRIPT TYPE="text/javascript" SRC="{% static 'MWdatabase/javascript/sampleData.js' %}"></SCRIPT>

</BODY>
</HTML>